.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    text-decoration:underline;
}
.navbar-default .navbar-brand {
    color: #fff;
}

.panel-sidebar>.panel-heading {
    color: #3bafda;
    font-weight:700;
    background-color: #ffffff;
    border-color: #3bafda;
    border-bottom-width: thick;
}

.panel-sidebar{
    border:1px solid #5dcffc;
}
